
body{
    font-family: Source Serif Variable;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(0, 255, 255) , #03d1c0,#dbdbdb);
}
.navbar {
display: flex;
align-items: center;
justify-content: center;
}
nav ul li{
list-style-type: none;
display: inline-block;
padding: 0px 20px;
}
nav ul li a{
color: #000000;
text-decoration: none;
font-weight: bold;
}
nav ul li a:hover{
color: #00BFA6;
transition: .3s;

}
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-content {
display: block;
}
.main-body {
    padding: 50px;
}
.card {
    box-shadow: 0 1px 3px 0 #00BFA6, 0 1px 2px 0 #dbdbdb;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 10 solid rgba(247, 3, 3, 0.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.h-100 {
    height: 150%!important;
}
.shadow-none {
    box-shadow: none!important;
}
